[Unit]
Description=Start Flask HDMI CEC REST application
After=network.target

[Service]
WorkingDirectory=/opt/flask-hdmi-cec
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:4321 --workers 1 flask-hdmi-cec:app
Restart=always

[Install]
WantedBy=multi-user.target
