[Uniti]
Description=Start Flask HDMI CEC REST application
After=network.target

[Service]
ExecStart=/usr/bin/python3.5 /home/pi/flask-hdmi-cec/flask-hdmi-cec.py
Restart=always

[Install]
WantedBy=multi-user.target
